@import "../../baseStyles/variables";
@import "../../baseStyles/smart-grid";

.form-registration {
  position: relative;
  width: 380px;
  margin: auto;

  &__subtitle {
    padding-bottom: 3px;
  }

  .btn {
    margin: 50px auto 100px;
  }

  @include xxs-block() {
    width: 100%;
  }
}

.custom-input {
  position: relative;
  width: 100%;
  height: 54px;
  border: 1px solid #D0CFCF;
  border-radius: 4px;
  margin-bottom: 50px;
  box-sizing: border-box;

  &__input {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding: 14px 16px;

    &:focus {
      outline: none;
    }

    &:focus,
    &.not-empty, &:not(:placeholder-shown) {
      + .custom-input__label {
        transform: translateY(-30px);
      }
    }
  }

  &__label {
    position: absolute;
    left: 11px;
    bottom: 10px;
    line-height: 26px;
    color: #7E7E7E;
    cursor: text;
    transition: transform .2s ease-in-out;
    background-color: $grey;
    box-sizing: border-box;
    padding: 0 4px;
  }

  &--error {
    border: 2px solid $red;

    .custom-input__label {
      color: $red;
    }
  }

  &__error-text {
    position: absolute;
    margin-top: 4px;
    margin-left: 16px;
    font-size: 12px;
    line-height: 14px;
    color: $red;
  }
}

.custom-radio {
  position: relative;
  margin-top: 7px;

  &__input {
    position: absolute;
    left: 0;
    opacity: 0;

    &:checked + label::before, &:not(:checked) + label::before {
      content:'';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid #D0CFCF;
      box-sizing: border-box;
    }

    &:checked + label::after{
      content:'';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      transition: all .2s ease;
      background-color: #00BDD3;
      border-radius: 50%;
    }

    &:checked + label::before{
      border-color: #00BDD3;
    }
  }

  &__label {
    display: block;
    height: 100%;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
  }
}

.upload-img {
  width: 100%;
  margin-top: 48px;

  &__block {
    display: flex;
    width: 100%;
    height: 54px;
    box-sizing: border-box;

    &__btn {
      width: 82px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $black;
      border-radius: 4px 0 0 4px;
      box-sizing: border-box;
      cursor: pointer;

      &:hover {
        border-color: $yellow;
      }
    }

    &__input {
      flex-grow: 1;
      display: flex;
      align-items: center;
      border: 1px solid #D0CFCF;
      border-radius: 0 4px 4px 0;
      box-sizing: border-box;
      padding-left: 16px;
      color: #7E7E7E;
    }
  }
}

.success-error {
  position: absolute;
  left: -50%;
  right: -50%;
  text-align: center;
  bottom: 40px;
  color: $red;
}

.success-ok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  &__img {
    width: 328px;
  }
}