@import "../../baseStyles/smart-grid";

.users {
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  gap: 29px;
  margin-bottom: 50px;

  @include md-block() {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  @include xxs-block() {
    grid-template-columns: repeat(1, minmax(280px, 1fr));
  }
}