@import "../../baseStyles/variables";
@import "../../baseStyles/reset";
@import "../../baseStyles/smart-grid";

.wrapper {
  @include wrapper();
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $grey;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $black;
  scroll-behavior: smooth;
}

.main {
  flex-grow: 1;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  box-sizing: border-box;
  background-color: $yellow;
  border-radius: 80px;
  padding: 8px 22px;
  color: $black;
  font-size: 16px;

  &:hover {
    background-color: $yellow-hover;
  }

  &:disabled {
    background-color: #B4B4B4;
    color: rgba(255, 255, 255, 0.87);
  }
}

.section__title {
  margin: 140px 0 50px;
  font-size: 40px;
  line-height: 0.8;
  text-align: center;
}

.section__users {
  .btn {
    margin: auto;
  }
}

.section-form-registration {
  .section__title {
    margin-top: 148px;
  }
}

.tooltip {

  &__text {
    display: flex;
    visibility: hidden;
    background-color: $black;
    border-radius: 4px;
    color: #fff;
    line-height: 26px;
    padding: 3px 16px;
    position: absolute;
    bottom: -20px;
    z-index: 1;
  }

  &:hover {
    .tooltip__text {
      visibility: visible;
    }
  }
}
